.body{
    height: 100%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto 0;
}

.formContainer {
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: inline-block;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
.forms {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.forms * {
    padding: 5px 10px;
}
.formImage {
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.formHeading {
    position: absolute;
    left: 10%;
    top: 15%;
    right: 10%;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.222;
}
.formHeading small {
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    margin-top: 0.25em;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}
.input + .input {
    margin-top: 1.5rem;
}
.inputLabel {
    color: var(--text-color);
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }
  
  .inputField {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-color);
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
  }
  .inputField:focus, .inputField:valid {
    outline: 0;
    border-bottom-color: var(--accent);
  }
  .inputField:focus + .inputLabel, .inputField:valid + .inputLabel {
    color: var(--accent);
    transform: translateY(-1.5rem);
  }

  .action {
    margin-top: 2rem;
  }
  
  .actionButton {
    font: inherit;
    font-size: 1.25rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: var(--accent);
    border-radius: 6px;
    color: #FFF;
    border: 0;
  }
  .actionButton:focus {
    outline: 0;
  }
  .formContainer::-webkit-scrollbar{
    display: none;
  }
  .selectionBlock{
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
  .outerBox{
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    padding: 0;
    border: 1px solid black;
}
.innerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    width: 40px;
}
@media only screen and (min-width: 800px) {
.formContainer{
  width: 100vw;
  height: 100vh;
  max-width: none;
  display: flex;
  flex-direction: row;
}
.formHeading{
  font-size: 3rem;
}
.formHeading small{
  font-size: 1.5rem;
}
.formImage{
  background-size: cover;
  width: 40%;
  height: 100%;
}
.formContent{
  width: 60%;
  height: 100%;
  padding: 1rem;
}
.forms{
  width: 100%;
  display: flex;
  flex-direction: row;

}
}