*{
    overflow-x: hidden;
}
:root{
    --main-color: #ffffff;
    --secondary-color :#7bbfbaff;
    --accent :#f43d4fff;
    --text-color: #133b53ff;
    /* --main-color: #f43d4fff;
    --secondary-color :#7bbfbaff;
    --accent :#133b53ff;
    --text-color: #ffffff; */
    /* --heading: 'Righteous', cursive;
    --sub-heading: 'Rubik', sans-serif;
    --content-text : 'Merriweather', serif; */
}
h1{
    font-family: 'Montserrat', sans-serif !important;
}
h2,h3,h5,h6{
    font-family: 'Poppins', sans-serif !important;
}
label,p,body{
    font-family: 'Rubik', sans-serif !important;
}
body{
    overflow-x: hidden;
    height: 100%;
}
.fadeInAnimation {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading {
    font-family: 'Righteous', cursive;
}
.subHeading{
    font-family: 'Rubik', sans-serif;
}
.contentText{
    font-family: 'Merriweather', serif;
}
.bg-main{
    background-color: var(--main-color);
}
.bg-sd{
    background-color: var(--secondary-color);
}
.bg-accent{
    background-color: var(--accent);
}
.bg-dark{
    background-color: var(--text-color);
}
.txt-main{
    color: var(--main-color);
}
.txt-sd{
    color: var(--secondary-color);
}
.txt-accent{
    color: var(--accent);
}
.txt-dark{
    color: var(--text-color);
}