<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content = "Aswin Lal M">
    <meta namae="description" content="Laura the AI Bot- House Price Estimating bot">
    <meta name="keywords" content="Laura,HousePrice,AI,MachineLearning,PriceEstimator">
    {%block head%}
    

    {%endblock%}
</head>
<body>
    {%block body%}
    
    {%endblock%}
</body>
</html>