{%extends 'base.html'%}


{%block head%}
<title>Project - Laura</title>
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="{{url_for('static',filename='index.js')}}"></script>
{%endblock%}

{%block body%}
<div class="fadeInAnimation shadow intro bg-sd txt-dark" id="intro">
    <div class="introContents txt-main">
        <h1 class="heading">Welcome Hi I am Laura</h1>
    <h3 class="subHeading">Nice to Meet You</h3>
    <p class="contentText">
        I am a Artificial Intelligence Bot,
        capable of predicting your next sem grade
        with your previous grades and class performance
    </p>
    <button onclick="reveal()" class="contentText btn btn-primary bg-accent txt-main" style="background-color: var(--accent);">Predict My Grade -></button>
    <img src="{{url_for('static',filename='images/house.png')}}" alt="house picture">
    </div>
</div>
<div class="content fadeInAnimation" id='content'>
    <div class="formContainer bg-main" id='form1'>
    <div class="forms shadow">
        <div class="formImage">
            <h2 class="subHeading formHeading">
                Get Started
                <small class="contentText">Tell me about yourself</small>
            </h2>
        </div>
        <form class="formContent" method="POST">
            <div class="input">
                <input type="text" name="Name" class="inputField" id="name" required>
                <label for="" class="inputLabel">Full Name</label>
            </div>
            <div class="input">
                <input type="email" name="Email" class='inputField' id="email" required>
                <label for="" class="inputLabel">Email</label>
            </div>
            <div class="action">
                <input type="submit" class="actionButton" value="Submit">
            </div>
        </form>
    </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

{%endblock%}