{%extends 'base.html'%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='predict.css')}}">
{%endblock%}

{%block body%}
<div class="content">
<div class="formContainer shadow" id='form1'>
    <div class="forms">
        <div class="formImage">
            <h2 class="heading formHeading txt-dark">
                Hi {{name}}!
                <small class="contentText ">I need some more information from you to complete this prediction,
                    please fill the form</small>
            </h2>
        </div>
        <form class="formContent" method="POST">
            <div class="input">
                <input type="text" name="Name" class="inputField" id="name" required>
                <label for="" class="inputLabel">Full Name</label>
            </div>
            <div class="input">
                <input type="email" name="Email" class='inputField' id="email" required>
                <label for="" class="inputLabel">Email</label>
            </div>
            <div class="action">
                <input type="submit" class="actionButton" value="Submit">
            </div>
        </form>
    </div>
    </div>
</div>
{%endblock%}