{%extends 'base.html'%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='predict.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="{{url_for('static',filename = 'predict.js')}}"></script>
{%endblock%}

{%block body%}
<div class="content">
<div class="formContainer shadow" id='form1'>
    <div class="forms">
        <div class="formImage">
            <h2 class="heading formHeading txt-main">
                Hi {{name}}!
                <small class="contentText ">I need some more information from you to complete this prediction,
                    please fill the form</small>
            </h2>
        </div>
        <div class="formContent">
        <form class="txt-dark " method="POST">
            <div class="mb-3">
              <label for="" class="form-label">Location</label>
              <select class="form-select" aria-label="Default select example" name='location'>
                <option selected value='other'>Other</option>
                {%for i in locations%}
                    <option value="{{i}}">{{i}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Required Squarefeet</label>
              <input type="number" class="form-control" name="sqft" required >
            </div>
            <div class="mb-3">
                <div class="selectionBlock">
                No.of Bedroom
                <div class="outerBox">
                <div class="innerBox leftBox" ><button class="btn" onclick="increment('L',1)"><</button></div>
                <div class="innerBox middleBox" id="increment_1">1</div>
                <div class="innerBox rightBox"><button class="btn" onclick="increment('R',1)">></button></div>
                </div>
            </div>
            </div>
            <div class="mb-3">
                <div class="selectionBlock">
                No.of Bathroom
                <div class="outerBox">
                <div class="innerBox leftBox" ><button class="btn" onclick="increment('L',2)"><</button></div>
                <div class="innerBox middleBox" id="increment_2">1</div>
                <div class="innerBox rightBox"><button class="btn" onclick="increment('R',2)">></button></div>
                </div>
            </div>
            </div>
            <div class="d-grid">
            <button type="submit" class="btn btn-dark" style="background :var(--text-color); border-color: var(--text-color);">Submit</button>
            </div>
          </form>
        </div>
    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{%endblock%}