{%extends 'base.html'%}

{%block head%}
    <link rel="stylesheet" href="{{url_for('static',filename='predict.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="{{url_for('static',filename = 'predict.js')}}"></script>
{%endblock%}

{%block body%}
<div class="content">
<div class="formContainer shadow" id='form1'>
    <div class="forms">
        <div class="formImage">
            <h2 class="heading formHeading txt-main">
                Hi {{name}}!
                <small class="contentText ">I need some more information from you to complete this prediction,
                    please fill the form</small>
            </h2>
        </div>
        <div class="formContent">
        <form class="txt-dark " method="POST" action="/results">
            <div class="mb-3">
              <label for="" class="form-label">Location</label>
              <select class="form-select" aria-label="Default select example" name='location'>
                <option selected value='other'>Other</option>
                {%for i in locations%}
                    <option value="{{i}}">{{i}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Required Squarefeet</label>
              <input type="number" class="form-control" name="sqft" required min='250' max="100000">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Number of Bedrooms</label>
              <input type="number" class="form-control" name="bed" required value="1" min='1' max='50'>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Number of Bathrooms</label>
              <input type="number" class="form-control" name="bath" required value="1" min='0' max='100'>
            </div>
           
            <div class="d-grid">
            <input type="submit" class="btn btn-dark" style="background :var(--text-color); border-color: var(--text-color);"  value="Submit">
            </div>
          </form>
        </div>
    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{%endblock%}